<div class="col">
<article class="post card p-2">
  <div class="card-body">
    <h2 class="card-title">{{title}}</h2>
    <div class="content card-content">
      <p>{{content}}</p>
    </div>
    </div>

    <div class="meta card-footer text-muted">
      By
      {{user.username}}
      on
      {{format_date created_at}}
      |
      <a class="card-link stretched-link" href="/post/{{id}}">{{comments.length}}
        {{format_plural "comment" comments.length}}</a>
    </div>
</article>
</div>